/* This is the style sheet for Crazy Bob's Pumpkin Patch */

html, body, header, nav, footer, div, h1,h2, h3, h4, h5,h6, p,ul,li {
    margin:0;
    padding
}

header h1 {
color: orange;
    background-color: rgba(0,0,0,.1);
    position: relative;
    top: 80px;
    display: inline-block;
    padding: 5px;
}

body{
    background-color:#00274d;
    font-family:'tahoma', san-serif;
    color:brown;
}

div#conatiner {
    border: 1px solid orange;
    background-color:white;
    width:1024px;
    height:768px;
    margin:auto;
}

div#conatiner header{
    background-color: bisque;
    background-image: url(images/hd.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    color:brown;
    width:100%;
    height:200px;
    text-align:center;
    
}

div#container header h1 {
    padding:80px;
    color:darkslateblue;
    text-shadow: 1px 1px black;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
    
}

nav ul li{
    float:left;
}

nav ul li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

nav ul li a:hover {
    background-color: orange;
}

.active{
    background-color:orange;
}

div#content{
    display:block;
    width:100%;
    height:450px;
   
}

div#content img {
    float left;
    margin: 2px 20px 2px 2px;
}

footer{
    padding-top:22px;
    width:100%;
    height:50px;
    color:white;
    text-align:center;
}
img="cartoon"
width:100px;
height: 150px;
}

div#col1{
    background-color: bisque;
    width:50%;
    float:right;
}

/* Gallery Page */
div#gallery{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}

div#gallery .frame{
    background-color:bisque;
    border:2px solid black;
    float: left;
}

div#gallery .frame figcaption{
    text-align: center;
    padding-bottom: 5px;
}
img.galleryimg{
    width:200px;
    height:150px;
    margin:5px 10px;
}
/* Contact */
form feildset{
    background-color:lightgray;    
}

form feildset legend{
    border:1px solid black;
    background-color: white;
    font-weight: bold;
}
form input {
    margin: 5px 0;
}
/* Keep Web Pages Open*/
.keepOpen{
    clear:both;
}

    
        
        
























    
}

}