/* This is the style sheet for Crazy Bob's Pumpkin Patch */

html, body, header, nav, footer, div, h1,h2, h3, h4, h5,h6, p,ul,li {
    margin:0;
    padding
}

body{
    background-color:#00274d;
    font-family:'tahoma', san-serif;
    color:brown;
}

div#conatiner {
    border: 1px solid orange;
    background-color:white;
    width:1024px;
    height:768px;
    margin:auto;
}

div#conatiner header{
    background-color: bisque;
    background-image: url(images/leaves.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    color:brown;
    width:100%;
    height:200px;
    text-align:center;
    padding-top:50px;
    
}

div#container header h1 {
    padding:80px;
    color:darkslateblue;
    text-shadow: 1px 1px black;
}

nav ul{
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
    
}

nav ul li{
    float:left;
}

nav ul li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px;
    text-decoration:none;
}

nav ul li a:hover {
    background-color: orange;
}

.active{
    background-color:orange;
}

div#content{
    display:block;
    width:100%;
    height:450px;
}

footer{
    padding-top:22px;
    width:100%;
    height:50px;
    color:white;
    background-color: black;
    text-align:center;
}

}